@model ECommerce.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Edit ", "Edit", new { id = Model.DepartmentID }, new { @class="btn btn-primary"}) 
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
